@inherits WrapperComponent

<div class="mdc-drawer-app-content @Class" style="@Style" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</div>