@inherits Subcomponent<AppDrawer>

<nav @ref="ElemRef" class="mdc-drawer__content @Class" style="@Style" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</nav> 