@inherits Subcomponent<AppDrawer>
    
<div class="mdc-drawer__header @Class" style="@Style" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>