@inherits StatefulComponent

@{
    string id = string.IsNullOrWhiteSpace(Id)
        ? "blazor-app-drawer"
        : Id;
}

<aside id="@id" @ref="ElemRef" class="mdc-drawer mdc-drawer--modal @Class" style="@Style" @attributes="@ExtraAttributes" >
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</aside>
<div class="mdc-drawer-scrim"></div>