@inherits ChildComponent<AppDrawer>

<div class="mdc-drawer__content @Class" style="@Style" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</div> 